{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<div class="feed">

<div class="ud">{{ post.aurthor }} <br>
    <sub_2>{{ post.date}}</sub_2></div>
    
        {% if  post.pic %}
        {{ post.title }}
        <img class="postPic" src="{{ post.pic.url }}" >
        {% else %}
        <div class="contT">
            {{ post.title }}
        </div>
        {% endif %}

    <div class="subf">
        <button data-post-id="{{ post.id }}">Like</button><button onclick="viewpost()">Comments</button> {{ likes_count }}
    </div>

    {% for com in comment %}

    <ul>
        <li>
            <div class="auth">
                {{ com.user }}
            </div>
            <div class="com">
                {{ com.content }}
            </div>
            <div class="at">
                {{ com.created_at }}
            </div>
        </li>
    </ul>

    {% endfor %}

    <div class="feed" style="flex-direction: row; width:100%; position:relative; left:0; " >
        <img class="himg" src="{{ details.proPic.url }}" >

       <form action="" method="POST" style="width: 100%;">
        {% csrf_token %}
            <div class="upd">
                <input type="text" name="content" placeholder="Add a comment...." style="width: 80%;">
                <input type="text" name="id" value="{{post.id}}" style="display: none;">
                    <button data-post-id="{{ post.id }}" type="submit" class="updb" style="width: 20%;">Comment</button>
            </div>
       </form>
    </div>


</div>


{% endblock %}