.block{
    display: flex;
    justify-content: center;
    align-content: center;
}
form{
    width: 40%;
    height: auto;
    padding: 3.5rem 2rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 2vw;
    background-color: #fff;
    box-shadow: 5px 5px 15px black;
    margin-top: 30px;
}
form>input{
    height: 40px;
    width: 80%;
}
form>button{
    width: fit-content;
    height: 1.6rem;
    align-self: center;
}
#error{
    width: 60%;
    height: 30px;
    margin: 1.8rem 10px;
    padding: 9px;
    text-align: center;
}